.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pb70 {
  padding-bottom: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pb80 {
  padding-bottom: 80px;
}

.pt100 {
  padding-top: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

.pt130 {
  padding-top: 130px;
}

.pb130 {
  padding-bottom: 130px;
}

.pt150 {
  padding-top: 150px;
}

.pb150 {
  padding-bottom: 150px;
}

.pt180 {
  padding-top: 180px;
}

.pb180 {
  padding-bottom: 180px;
}

.pt200 {
  padding-top: 200px;
}

.pb200 {
  padding-bottom: 200px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}


.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.navigation .nav-btns {
  display: flex;
  align-items: center;
}
.navigation .back {
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-right: 25px;
}
.navigation .back:hover {
  color: #0BC466;
}
.navigation .get {
  background: #0BC466;
  color: #FFFFFF;
  height: 50px;
  padding: 0 30px;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
}

.ugf-contact-header-bg {
  background: url(../images/bg/contact-2-bg.jpg) no-repeat center;
  background-size: cover;
}

.ugf-contact-header h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
.ugf-contact-header p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.ugf-contact-wrap {
  background: #ffffff;
  margin-top: -130px;
  border-radius: 15px;
  padding: 60px 0 50px;
  -webkit-box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.05);
}
.ugf-contact-wrap h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #1c2437;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
.ugf-contact-wrap form label {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1c2437;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.ugf-contact-wrap form label span {
  color: #b2becc;
}
.ugf-contact-wrap form .form-group {
  margin-bottom: 25px;
}
.ugf-contact-wrap form .form-group .form-control {
  height: 60px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 20px;
  font-size: 1.5rem;
  color: #b2becc;
}
.ugf-contact-wrap form .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b2becc;
}
.ugf-contact-wrap form .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #b2becc;
}
.ugf-contact-wrap form .form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #b2becc;
}
.ugf-contact-wrap form .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #b2becc;
}
.ugf-contact-wrap form .form-group textarea.form-control {
  height: 120px;
  padding-top: 14px;
}
.ugf-contact-wrap form .btn {
  background: #0bc466;
  color: #ffffff;
  height: 60px;
  width: 200px;
  text-align: center;
  line-height: 60px;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
}
.ugf-contact-wrap .contact-info + .contact-info {
  margin-top: 25px;
}
.ugf-contact-wrap .contact-info h5 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1c2437;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 2.2;
}
.ugf-contact-wrap .contact-info p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #546274;
  font-family: "Roboto", sans-serif;
  max-width: 270px;
}
.ugf-contact-wrap .contact-info .location-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: #1e85ff;
  font-family: "Roboto", sans-serif;
}
.ugf-contact-wrap .contact-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ugf-contact-wrap .contact-info ul li {
  font-size: 1.5rem;
  font-weight: 400;
  color: #546274;
  font-family: "Roboto", sans-serif;
}
.ugf-contact-wrap .contact-info .social-links a {
  font-size: 2rem;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
}
.ugf-contact-wrap .contact-info .social-links a:hover {
  -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.08);
}
.ugf-contact-wrap .contact-info .social-links a:last-child {
  margin-right: 0;
}
.ugf-contact-wrap .contact-info .social-links a.facebook {
  color: #3b5998;
}
.ugf-contact-wrap .contact-info .social-links a.twitter {
  color: #1da1f2;
}
.ugf-contact-wrap .contact-info .social-links a.instagram {
  color: #c13584;
}
.ugf-contact-wrap .contact-info .social-links a.linkedin {
  color: #0077b5;
}
.ugf-contact-wrap .contact-info .social-links a.youtube {
  color: #ff0000;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
}
.footer-wrap .copyright {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.footer-wrap .copyright p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #546274;
  font-family: "Roboto", sans-serif;
}
.footer-wrap .copyright p a:hover {
  color: #1e85ff;
}
.footer-wrap .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-wrap .footer-nav li + li {
  margin-left: 20px;
}
.footer-wrap .footer-nav li a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #546274;
  font-family: "Roboto", sans-serif;
}
.footer-wrap .footer-nav li a:hover {
  color: #1e85ff;
}

@media all and (max-width: 991px) {
  .ugf-contact-wrap {
    padding: 50px 30px;
  }
  .ugf-contact-wrap .contact-details {
    margin-top: 50px;
  }
}
@media all and (max-width: 767px) {
  .footer-wrap {
    display: block;
  }
  .footer-wrap .copyright {
    text-align: center;
  }
  .footer-wrap .footer-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .footer-wrap .footer-nav li {
    margin-right: 10px;
    margin-left: 10px;
  }
  .footer-wrap .footer-nav li + li {
    margin-left: 10px;
  }
}