.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pb70 {
  padding-bottom: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pb80 {
  padding-bottom: 80px;
}

.pt100 {
  padding-top: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

.pt130 {
  padding-top: 130px;
}

.pb130 {
  padding-bottom: 130px;
}

.pt150 {
  padding-top: 150px;
}

.pb150 {
  padding-bottom: 150px;
}

.pt180 {
  padding-top: 180px;
}

.pb180 {
  padding-bottom: 180px;
}

.pt200 {
  padding-top: 200px;
}

.pb200 {
  padding-bottom: 200px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.prev-page {
	font-size: 1.5rem;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	color: #b2becc;
	text-transform: uppercase;
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
}
.prev-page:before {
	position: absolute;
	top: 1px;
	left: 0;
	content: url(../images/arrow-left-grey.png);
}

.ugf-wraper {
  min-height: 100vh;
  position: relative;
}
body{
  overflow: hidden;
}
.ugf-wraper .donetion1-content{
	overflow-y: scroll;
  max-height: 100vh;
}
.ugf-wraper .donetion1-content::-webkit-scrollbar{
  display: none;
}
.ugf-wraper .content-block {
  background: url(../images/bg/donation-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100vh;
}

.ugf-wraper .content-block .shape-1 {
  position: absolute;
  top: 100px;
  right: -60px;
}

.ugf-wraper .content-block .shape-2 {
  position: absolute;
  bottom: 100px;
  right: -80px;
}

.ugf-wraper .content-block .shape-3 {
  position: absolute;
  top: 50%;
  left: 30px;
}

.ugf-wraper .content-block .shape-4 {
  position: absolute;
  top: 60%;
  left: 90px;
}

.ugf-wraper .content-block .logo {
  position: absolute;
  top: 50px;
  left: 50px;
}

.ugf-wraper .content-block .main-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 430px;
  flex: 0 0 430px;
}

.ugf-wraper .content-block .main-content h2 {
  font-size: 4.0rem;
  font-weight: 700;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}

.ugf-wraper .content-block .main-content .text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.ugf-wraper .content-block .main-content .fund-area h3 {
  font-size: 4.0rem;
  font-weight: 700;
  color: #fcf22b;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.ugf-wraper .content-block .main-content .fund-area .progress {
  height: 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  overflow: visible;
  position: relative;
}

.ugf-wraper .content-block .main-content .fund-area .progress .progress-bar {
  background: #fcf22b;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ugf-wraper .content-block .main-content .fund-area .progress .collected,
.ugf-wraper .content-block .main-content .fund-area .progress .days-left {
  position: absolute;
  top: calc(100% + 15px);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.ugf-wraper .content-block .main-content .fund-area .progress .collected p,
.ugf-wraper .content-block .main-content .fund-area .progress .days-left p {
  color: #ffffff;
}

.ugf-wraper .content-block .main-content .fund-area .progress .collected span,
.ugf-wraper .content-block .main-content .fund-area .progress .days-left span {
  color: #fcf22b;
}

.ugf-wraper .content-block .main-content .fund-area .progress .collected {
  left: 0;
}

.ugf-wraper .content-block .main-content .fund-area .progress .days-left {
  right: 0;
}

.ugf-wraper .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 470px;
  min-height: 100vh;
  padding: 90px 0;
}

.ugf-wraper .footer {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 50%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ugf-wraper .footer .copyright p {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.ugf-wraper .footer .copyright p a:hover {
  color: #fcf22b;
}

.ugf-wraper .footer .social-links a {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  font-size: 1.4rem;
}

.ugf-wraper .footer .social-links a:last-child {
  margin-right: 0;
}

.ugf-wraper .footer .social-links a:hover {
  color: #fcf22b;
}

.form-steps {
  display: none;
}

.form-steps.active {
  display: block;
}

.form-block .donation-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-block .donation-header h2, .form-block .donation-header p {
  font-size: 3.0rem;
  font-weight: 700;
  color: #1c2437;
  font-family: "Roboto", sans-serif;
}

.form-block .donation-header p {
  color: #b2becc;
}

.form-block .donation-form .amount-select {
  margin-bottom: 15px;
}

.form-block .donation-form .amount-select .amount-preset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-block .donation-form .amount-select .amount-preset span {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  background: #ffffff;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 65px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #b2becc;
  line-height: 65px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.form-block .donation-form .amount-select .amount-preset span:last-child {
  margin-right: 0;
}

.form-block .donation-form .amount-select .amount-preset span.active {
  background: #d50032;
  color: #ffffff;
  border-color: #d50032;
}

.form-block .donation-form label {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #1c2437;
  margin-bottom: 8px;
}

.form-block .donation-form label .lite {
  color: #b2becc;
}

.form-block .donation-form .form-group {
  margin-bottom: 25px;
}

.form-block .donation-form .form-group .input-group .input-group-prepend {
  background: #ffffff;
  width: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 0;
}

.form-block .donation-form .form-group .input-group .input-group-prepend .input-group-text {
  background: transparent;
  border: none;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 700;
  color: #b2becc;
  padding: 0;
}

.form-block .donation-form .form-group .input-group .form-control {
  max-width: 200px;
  background: #ffffff;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 25px;
  font-size: 1.8rem;
  font-weight: 700;
}

.form-block .donation-form .form-group .input-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b2becc;
}

.form-block .donation-form .form-group .input-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #b2becc;
}

.form-block .donation-form .form-group .input-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #b2becc;
}

.form-block .donation-form .form-group .input-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #b2becc;
}

.form-block .donation-form .form-group.donation-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-block .donation-form .form-group.donation-period .custom-radio {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 15px);
  flex: 0 0 calc(50% - 15px);
}

.form-block .donation-form .form-group.donation-period .custom-radio .custom-control-input {
  display: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-block .donation-form .form-group.donation-period .custom-radio .custom-control-input:checked ~ .custom-control-label {
  border-color: rgba(213, 0, 50, 0.5);
  color: #d50032;
}

.form-block .donation-form .form-group.donation-period .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background: #d50032;
}

.form-block .donation-form .form-group.donation-period .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  content: url(../images/check-white.svg);
}

.form-block .donation-form .form-group.donation-period .custom-radio .custom-control-label {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #b2becc;
  padding: 20px 12px 20px 50px;
  text-transform: capitalize;
  position: relative;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: #1c2437;
}

.form-block .donation-form .form-group.donation-period .custom-radio .custom-control-label span {
  display: block;
  margin-top: 15px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #546274;
  line-height: 1.57;
}

.form-block .donation-form .form-group.donation-period .custom-radio .custom-control-label:before {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: transparent;
  top: 22px;
  left: 15px;
}

.form-block .donation-form .form-group.donation-period .custom-radio .custom-control-label:after {
  height: 15px;
  width: 15px;
  top: 22px;
  left: 17px;
  border-radius: 50%;
}

.form-block .donation-form .form-group .select-input {
  position: relative;
}

.form-block .donation-form .form-group .select-input span {
  position: absolute;
  top: 27px;
  right: 15px;
  height: 0;
  width: 0;
  border-top: 6px solid #b2becc;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.form-block .donation-form .form-group .select-input .form-control {
  padding-right: 0;
  padding-left: 15px;
  color: #b2becc;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-block .donation-form .form-group .select-input .form-control option {
  color: #546274;
}

.form-block .donation-form .form-group .form-control {
  color: #546274;
  background: #ffffff;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 25px;
  font-size: 1.5rem;
  font-weight: 400;
}

.form-block .donation-form .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b2becc;
}

.form-block .donation-form .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #b2becc;
}

.form-block .donation-form .form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #b2becc;
}

.form-block .donation-form .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #b2becc;
}

.form-block .donation-form .btn {
  height: 60px;
  width: 220px;
  text-align: center;
  background: #d50032;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
  border: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 25px;
}

.form-block .donation-form .btn.btn-100 {
  width: 100%;
}

.ugf-block-separator {
  height: 85px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.ugf-block-separator:before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
  content: '';
  z-index: 1;
}

.ugf-block-separator p {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  color: #546274;
  background: #ffffff;
  position: relative;
  z-index: 2;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
}

.alternet-payment .btn {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #1c2437;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
}

.alternet-payment .btn + .btn {
  margin-top: 25px;
}

.alternet-payment .btn img {
  margin-left: 10px;
}

.final-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  padding: 120px 15px;
  text-align: center;
}

.final-content .icon {
  margin-bottom: 20px;
}

.final-content h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #1c2437;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.final-content p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #546274;
  font-family: "Roboto", sans-serif;
}

.final-content .btn {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  height: 65px;
  line-height: 65px;
  width: 170px;
  text-align: center;
  border-radius: 10px;
  background: #d50032;
  margin-top: 40px;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media all and (max-width: 991px) {
  body{
	  overflow-y: auto;
	}
  .ugf-wraper .content-block {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 150px 50px 100px;
  }
  .ugf-wraper .content-block .shape-1,
  .ugf-wraper .content-block .shape-2,
  .ugf-wraper .content-block .shape-3,
  .ugf-wraper .content-block .shape-4 {
    display: none;
  }
  .ugf-wraper .form-block {
    width: 100%;
    max-width: 100%;
  }
  .ugf-wraper .footer {
    position: static;
    width: 690px;
    margin: 0 auto;
    padding: 0 0 20px;
  }
  .ugf-wraper .footer .copyright p {
    color: #546274;
  }
  .ugf-wraper .footer .social-links a {
    color: #546274;
  }
}

@media all and (max-width: 767px) {
  .ugf-wraper .footer {
    width: 510px;
  }
}

@media all and (max-width: 575px) {
  .ugf-wraper .content-block {
    padding: 150px 15px 100px;
  }
  .ugf-wraper .content-block .logo {
    left: 15px;
  }
  .ugf-wraper .content-block .main-content h2 {
    font-size: 2.8rem;
  }
  .ugf-wraper .content-block .main-content .fund-area h3 {
    font-size: 2.4rem;
  }
  .ugf-wraper .form-block {
    width: 100%;
    max-width: 100%;
  }
  .ugf-wraper .form-block .donation-header h2, .ugf-wraper .form-block .donation-header p {
    font-size: 2.4rem;
  }
  .ugf-wraper .footer {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media all and (max-width: 450px) {
  .ugf-wraper .form-block .donation-form .form-group.donation-period {
    display: block;
  }
  .ugf-wraper .form-block .donation-form .form-group.donation-period .custom-radio:first-child {
    margin-bottom: 20px;
  }
  .ugf-wraper .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ugf-wraper .footer .copyright {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .ugf-wraper .footer .social-links {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
